{% extends "layout.html" %}

{% block body %}

<h2>Luo tunnus:</h2>

{{ error }}

<form action="{{ url_for('uuskayttaja') }}" method = "post" enctype="multipart/form-data">
  <table>
    <tr>
	  <td>
	    {{ form.username.label }}
	  </td>
	  <td>
	    {{ form.username }}
	  </td>
	</tr>
	<tr>
	  <td>
	    {{ form.password.label }}
	  </td>
	  <td>
	    {{ form.password }}
	  </td>
	</tr>
	<tr>
	  <td colspan ="2">
	    <input type="submit" value="New user"/>
	  </td>
	</tr>
  </table>
</form>

<p> Onko jo tunnukset? <a href="/kirjaudu">Kirjaudu sisaan</a></p>
<br>
<a href="/">Takaisin</a>
{% endblock %}